version: "3.9"

services:
  backend:
    build:
      context: ./backend   # path to backend folder
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - mysql_db

  frontend:
    build:
      context: ./frontend  # path to frontend folder
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend

  mysql_db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: food_delivery
      MYSQL_USER: user
      MYSQL_PASSWORD: nadira
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
